.media
  .media-left
    / = link_to image_tag(comment.user.avatar, alt: "64×64", data:{ holder:{ rendered: true } }, style: "width: 64px; height: 64px;", class: "media-object")
  .media-body
    %h4#top-aligned-media.media-heading
      / = link_to(comment.user.name, user_path(comment.user.id))
      %a.anchorjs-link
    %p
      = comment.text
